<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="true">

  <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
    <appender-ref ref="SystemOut" />
    <appender-ref ref="FileOut" />
  </appender>

  <appender name="SystemOut" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss} %-5.5p [%-16.16t] %-40.40c - %m%n" />
    </layout>
  </appender>

  <appender name="FileOut" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="log/viewer.log" />
    <param name="MaxFileSize" value="1024KB" />
    <param name="MaxBackupIndex" value="4" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy.MM.dd-HH:mm:ss}] [%-5.5p] [%-16.16t] %-50.50c - %m%n" />
    </layout>
  </appender>

  <logger name="net.anwiba" additivity="false">
    <level value="info" />
    <appender-ref ref="ASYNC" />
  </logger>

  <root>
    <priority value="error" />
    <appender-ref ref="ASYNC" />
  </root>

</log4j:configuration>
